/* Master Styles */
ul.list-group > li.list-group-item > span.tag.float-xs-left {
    margin-right: 12px;
}

ul.list-group > li.list-group-item > .btn.float-xs-right {
    padding: 2px 12px;
}

div.padded {
    padding-top: 12px;
    padding-bottom: 6px;
}

a.hero-card-link {
    text-decoration: none;
}