<!--
 * hero-search.component.html
 *
 * Author:  Martin Tracey
 * Created: 12.11.2016
 * 
 * Template file for the Hero Search component of the app.
 * 
 * See https://angular.io/docs/ts/latest/tutorial to learn more about Angular 2.
 -->
<form class="form-inline float-lg-right">
    <div class="dropdown" [class.open]="searchBox.value !== '' && (heroes | async)?.length > 0">
        <input #searchBox class="form-control" type="text" placeholder="Search for a Hero" (keyup)="search(searchBox.value)" />
        <div class="dropdown-menu">
            <div *ngFor="let hero of heroes | async" (click)="gotoDetail(hero)" class="dropdown-item">
                {{hero.name}}
            </div>
        </div>
    </div>
</form>
